/* Layout */

@media all                         { html { font-size: 25px; } }
@media all and (max-width: 1000px) { html { font-size: 24px; } }
@media all and (max-width:  960px) { html { font-size: 23px; } }
@media all and (max-width:  920px) { html { font-size: 22px; } }
@media all and (max-width:  880px) { html { font-size: 21px; } }
@media all and (max-width:  840px) { html { font-size: 20px; } }
@media all and (max-width:  800px) { html { font-size: 19px; } }
@media all and (max-width:  760px) { html { font-size: 18px; } }
@media all and (max-width:  720px) { html { font-size: 17px; } }
@media all and (max-width:  680px) { html { font-size: 16px; } }
@media all and (max-width:  640px) { html { font-size: 15px; } }
@media all and (max-width:  600px) { html { font-size: 14px; } }
@media all and (max-width:  560px) { html { font-size: 13px; } }
@media all and (max-width:  520px) { html { font-size: 12px; } }
/*@media all and (max-width: 520px)  { html {font-size: 18px; } }*/

body { font-family: 'Linux Libertine'; }

html { height: 100%; }
body { margin-left: auto; margin-right: auto; width: 100%; max-width: 1000px; min-height: 100%; font-feature-settings: 'kern' 1, 'liga' 1; position: relative; }
body > * { font-size: 100%; margin-left: 11.5rem; margin-right: 2.5rem; }
div.content { padding: 3rem 0 10rem 0; }
topic { display: block; font-family: 'Linux Libertine'; font-size: 190%; line-height: 1.1; margin-top: 3rem; margin-bottom: 3rem; border-top: 0.10em solid black; padding-top: 0.02em; hyphens: none; }
context-block { margin-top: 3rem; padding-top: 0.02em;}
topic.small { text-transform: uppercase; border-top: 1px solid #666; padding-top: 0em; font-size: 170%; }
title-block topic { font-family: inherit; text-transform: inherit; letter-spacing: inherit; font-size: 120%; line-height: 1.1; margin-top: 0.2rem; margin-bottom: 0.8rem; font-weight: bolder; border-top: 0; padding-top: 0; }
topic + p { font-size: 115%; }
.larger { font-size: 115%; }
title-block, aside, post-date { display: block; float: left; position: absolute; margin-left: 0; left: 2.5rem; width: 7rem; text-align: right; clear:both; margin-bottom: 1rem; }
title-block { margin-bottom: 2em; border-top: solid 2px black; padding-top: 6px; }
subhead, h2 { display: block; font-weight: bold; margin-top: 1.4rem; margin-bottom: 0.4rem; }
aside { font-size: 0.85rem; line-height: 1.40; color: #667; }
post-item { display: block; margin-bottom: 1.4em; line-height: 1.35;}
post-date { color: #667; font-feature-settings: 'onum', 'c2sc', 'smcp'; }
short-rule { display: block; font-size: 100%; line-height: 1.25; font-style: italic; hyphens: none; }
strong, b { font-weight: bold; }
em, i { font-style: italic; }
sc, .sc, [sc] { display: inline; font-family: 'Linux Libertine SC'; font-feature-settings: 'c2sc', 'smcp', 'onum'; }
.grey, [grey] { color: #667; }
p, li, .poem, .quote { margin-bottom: 1em; line-height: 1.35; }
ol.tight li, ul.tight li { margin-bottom: 0; }
ol.tight, ul.tight { margin-top: -0.5rem; margin-bottom: 0.5rem; }
li { margin-left: 2.5rem; }
ul li::before { content: "\002D"; display: inline-block; width: 0; position: relative; top: 0px; left: -2.5rem; }
ul.embellished li::before { content: "\2767"; }
ul.embellished2 li::before { content: "\274B"; }
ol { counter-reset: ol; }
ol li::before { counter-increment: ol; content: counter(ol) "."; display: inline-block; width: 0; position: relative; top: 0px; left: -2.5rem; }
sig { display: block; text-align: right; text-transform: lowercase; font-family: 'Linux Libertine SC'; font-feature-settings: 'c2sc', 'onum', 'liga' 0; margin-bottom: 5em; margin-right: 0.5rem; }
.poem sig, .quote sig { margin-bottom: 0.8rem; }
.poem sig { text-align: center; }
.subsection { display: block; margin-top: 1.5rem; margin-bottom: 1.5rem; background: #EFEFEF; background: radial-gradient(#F3F3F3 20%, #EBEBEB 100%); border-top: 1px solid #CFCFCF; padding: 1rem 1rem 0.5rem 1rem; border-bottom: 1px solid #CFCFCF; }
.subsection-title { display: block; text-transform: uppercase; font-feature-settings: 'c2sc', 'smcp'; font-weight: bolder; margin-bottom: 0.8rem; }
.btw { display: block; margin-top: 2em; }
.btw-title { display: block; text-align: center; font-size: 80%; text-transform: uppercase; font-feature-settings: 'case'; font-weight: bolder; letter-spacing: 2px; margin-bottom: 1em; padding-bottom: 0.6em; border-bottom: 4px double #ccc; margin-left: 25%; margin-right: 25%; }
.btw li { margin-left: 2.5rem; margin-bottom: 0.7em; font-size: 95%; }
.btw li::before { content: "\2799"; display: inline-block; width: 0; position: relative; top: 0px; left: -2.5rem; }
.poem { text-align: center; }
.poem-title { font-size: 115%; font-style: italic; margin-top: 3rem; }
.poem-body { white-space: pre; }


a { text-decoration: none; }

/* Colour */

body { background-color: #F3F3F3; color: #000000; }
main blockquote { border-color: #9F9F9F; }
h1 [descriptor], h1 .descriptor { color: #7F7F7F; }
h3 { color: #7F7F7F; }
hr { border-color: #9F9F9F; }
hr[asterism] { color: #9F9F9F; }
a { color: #C91919; }
[lighter] a, .lighter a, a[lighter], a.lighter { color: #C96969; }
[lighter], .lighter { color: #8C8C8C; }

/* Typography */

@font-face { font-family: 'Linux Libertine'; src: url('/assets/linlibertine_r.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Linux Libertine'; src: url('/assets/linlibertine_rb.woff') format('woff'); font-weight: bold; font-style: normal; }
@font-face { font-family: 'Linux Libertine'; src: url('/assets/linlibertine_ri.woff') format('woff'); font-weight: normal; font-style: italic; }
@font-face { font-family: 'Linux Libertine'; src: url('/assets/linlibertine_rbi.woff') format('woff'); font-weight: bold; font-style: italic; }
@font-face { font-family: 'Linux Libertine SC'; src: url('/assets/linlibertine_s.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Linux Libertine SC'; src: url('/assets/linlibertine_rb.woff') format('woff'); font-weight: bold; font-style: normal; }
@font-face { font-family: 'Linux Libertine SC'; src: url('/assets/linlibertine_ri.woff') format('woff'); font-weight: normal; font-style: italic; }
@font-face { font-family: 'Linux Libertine SC'; src: url('/assets/linlibertine_rbi.woff') format('woff'); font-weight: bold; font-style: italic; }