/* Layout */

* { box-sizing: border-box; }
div, section, main { position: relative; }
html { height: 100%; }
body { height: 100%; line-height: 0; }
body > header, body > footer, body > main { min-width: 320px; max-width: 720px; margin: 0 auto; padding: 0 24px; }
body > header { height: 48px; }
body > footer { height: 48px; }
body > main { min-height: calc(100% - 96px); }
body > main { border: 1px solid transparent; }
p, ul, h3, h2, h1 { line-height: 24px; }
p, ul { margin: 24px 0; }
h3 { margin: 24px 0 0 0; }
h2, h1 { margin: 48px 0 24px 0; }
blockquote { margin: 0 0; padding-left: 22px; border-left: 2px solid transparent; }
h3 + p, h3 + ul, h3 + blockquote > p, h3 + blockquote > ul { margin-top: 0; }
p[delete-line], p[dl] { margin-top: -24px; }
[without-vertical-margins], .without-vertical-margins { margin-top: 0; margin-bottom: 0; }
[without-top-margin], .without-top-margin { margin-top: 0; }
[without-bottom-margin], .without-bottom-margin { margin-bottom: 0; }
[without-horizontal-padding], .without-horizontal-padding { padding-left: 0; padding-right: 0; }
[full-width], .full-width { width: 100%; }

hr { border: 0; border-bottom: 1px solid transparent; margin-bottom: -1px; }
hr[asterism] { display: block; border: 0; content: "hi"; height: 24px; margin: 24px auto; }
hr[asterism]::before { line-height: 32px; font-size: 28px; content: "\2042"; text-align: center; display: block; }

/* Colour */

body { background-color: #F3F3F3; color: #000000; }
body > header { background-color: #FFFFFF; border: 1px solid #DFDFDF; border-top: 0; }
body > footer { background-color: #FFFFFF; border: 1px solid #DFDFDF; border-bottom: 0; }
blockquote { border-color: #9F9F9F; }
h3 { color: #9F9F9F; }
hr { border-color: #9F9F9F; }
hr[asterism] { color: #9F9F9F; }
a { color: #D92B00; }

/* Typography */

body { font-family: -apple-system, "SF UI Text", "Helvetica Neue", sans-serif; }

p, nav, ul, h3 { font-size: 16px; }
h2, h1 { font-size: 18px; }
h3, h2, h1 { font-weight: bold; }
h1 { text-transform: uppercase; text-align: center; }
.hero-message { font-size: 18px; color: black; }
p.much-bigger { font-size: 22px; }
p.bigger { font-size: 18px; }
[tabular-numbers], .tabular-numbers { font-feature-settings: "tnum"; }
[with-underline], .with-underline { text-decoration: underline; }
[with-overline], .with-overline { text-decoration: overline; }

em, i { font-style: italic; }
strong, b { font-weight: bold; }
a { text-decoration: none; }
code { white-space: pre; }
sup { vertical-align: super; line-height: 0; font-size: smaller; }

/* Misc */

html { -moz-text-size-adjust: none; -ms-text-size-adjust: none; -webkit-text-size-adjust: none; text-size-adjust: none; }



div.overlay { width: 100%; height: 100%; position: absolute; top: 0; }
[special-bottom-border] { border-bottom: 1px solid black; }

ul > li::before { content: "-"; display: inline-block; width: 0; position: relative; top: 0px; left: -12px; }
ol > li { list-style-type: decimal; }

hr.separator { display: block; width: 72px; margin: 23px auto 24px 0; border-bottom: 1px solid #3f3f3f; }
hr.note-separator { width: 100%; margin: 23px 0 24px 0; border-bottom: 1px dashed #3f3f3f; }
hr.middle-separator { width: 72px; margin: 23px auto 24px auto; border-bottom: 1px solid #3f3f3f; }

ol.notes::before { content: ""; display: block; width: 72px; height: 23px; border-top: 1px solid #5f5f5f; }
ol.notes { line-height: 18px; font-size: 14px; list-style: decimal outside; margin-top: 18px; }
ol.notes > li { line-height: 18px; font-size: 14px; margin-left: 36px; }

.sp2 { display: inline-block; margin: -24px; border: 24px solid transparent; box-sizing: padding-box;
  background: no-repeat left -24px top -24px url(/assets/mark-topleft.png),
              no-repeat right -24px top -24px url(/assets/mark-topright.png),
              no-repeat right -24px bottom -24px url(/assets/mark-bottomright.png),
              no-repeat left -24px bottom -24px url(/assets/mark-bottomleft.png); }
.special { position: relative; }
.special::before { display: block; margin-left: -24px; margin-right: -24px; height: 24px; content: "i"; background: url(/assets/mark-topleft.png); }
.special::after { display: block; width: 24px; height: 24px; content: " "; position: absolute; left: 100%; top : 100%; background: no-repeat url(/assets/mark-bottomright.png); }*/