/* Layout */

body { max-width: 720px; min-width: 296px; margin: 24px; }
body > main { padding: 48px 0 48px 48px; }
body > footer { margin-bottom: 96px; }

/* 'Compact' (width) */
@media (max-width: 375px) {
  body { margin: 24px 0 240px 0; }
  body > header { padding: 0 4px; }
  body > footer { padding: 0 4px; }
  body > main   { padding: 1px 4px 1px 36px; } }

body > header { border-bottom: 1px solid transparent; }
body > footer { border-top: 1px solid transparent; }
blockquote { padding-left: 23px; border-left: 1px solid transparent; }

hr { border: 0; border-bottom: 1px solid transparent; height: 0; margin: 0; margin-top: -1; }
hr[asterism] { display: block; border: 0; content: "hi"; height: 24px; margin: 0;}
hr[asterism]::before { content: "\2042"; text-align: center; display: block; position: relative; top: 5px; }

/* Colour */

body { background-color: #efefef; color: #3f3f3f; }
body > main { background: top left / 48px url(/assets/radicle-notes-ribbon.svg) repeat-y transparent; }
body > header { border-color: #3f3f3f; }
body > footer { border-color: #3f3f3f; }
blockquote { border-color: #B2A893; }
h3 { color: #B2A893; }
a { color: #d92b00; }
hr { border-color: #B2A893; }

/* Typography */

body { font-family: Georgia, serif; line-height: 24px; }

p   { font-size: 16px; margin: 24px 0; }
nav { font-size: 16px; }
ul  { font-size: 16px; margin: 24px 0; }
h3  { font-size: 16px; margin: 24px 0 0 0; font-weight: bold; }
h2  { font-size: 18px; margin: 24px 0; font-weight: bold; }
h1  { font-size: 21px; margin: 120px 0 48px 0; }

em, i { font-style: italic; }
strong, b { font-weight: bold; }
a { text-decoration: underline; }
code { white-space: pre; }
sup { vertical-align: super; line-height: 0; font-size: smaller; }

/* Misc */

ul > li::before { content: "-"; display: inline-block; width: 0; position: relative; top: 0px; left: -12px; }
ol > li { list-style-type: decimal; }

[without-vertical-margins] { margin-top: 0; margin-bottom: 0; }
[without-top-margin] { margin-top: 0; }
[like-paragraph-text] { line-height: 24px; font-size: 16px; }
[special-tabular] { font-feature-settings: "tnum"; }
p[delete-line] { margin-top: -24px; }
div[logo] { margin: 120px 0 48px 0; }
img[logo] { display: inline-block; vertical-align: middle; height: 48px; margin: 0; }
h1[logo] { display: inline-block; vertical-align: middle; font-size: 21px; margin: 0 0 0 6px; }

hr.separator { display: block; width: 72px; margin: 23px auto 24px 0; border-bottom: 1px solid #3f3f3f; }
hr.note-separator { width: 100%; margin: 23px 0 24px 0; border-bottom: 1px dashed #3f3f3f; }
hr.middle-separator { width: 72px; margin: 23px auto 24px auto; border-bottom: 1px solid #3f3f3f; }

ol.notes::before { content: ""; display: block; width: 72px; height: 23px; border-top: 1px solid #5f5f5f; }
ol.notes { line-height: 18px; font-size: 14px; list-style: decimal outside; margin-top: 18px; }
ol.notes > li { line-height: 18px; font-size: 14px; margin-left: 36px; }

html { -moz-text-size-adjust: none; -ms-text-size-adjust: none; -webkit-text-size-adjust: none; text-size-adjust: none; }