/**** Layout ****/

* {
  box-sizing: border-box; }

body {
  min-width: 320px; }

section {
  padding: 96px 0; }

.padded-content-width {
  max-width: 1008px;
  padding-left: 24px; padding-right: 24px;
  margin-left: auto; margin-right: auto; }

.content-width {
  max-width: 960px;
  margin-left: auto; margin-right: auto; }

.padded-height {
  padding-top: 96px; padding-bottom: 96px; }

img {
  display: block;
  width: 100%; }

/**** Typography ****/

body {
  font-family: -apple-system, sans-serif;
  font-size: 16px;
  line-height: 24px; }

p, ul, h1, h2 {
  max-width: 688px;
  padding-left: 24px; padding-right: 24px;
  margin-left: auto; margin-right: auto; }

h1 {
  font-size: 23px; }

h2 {
  font-size: 20px; }

h1 + p, p + h2, h1 + h2 {
  margin-top: 36px; }

p + p, h2 + p, p + ul {
  margin-top: 18px; }



.title-bar {
  padding-top: 24px; padding-bottom: 24px;
  font-size: 20px; }

em, i { font-style: italic; }
strong, b { font-weight: bold; }
a { text-decoration: none; }

ul {
  list-style: disc inside; }

/**** Colour ****/

.dark-background {
  color: #3f3f3f;
  background-color: #efefef; }

.light-background {
  color: #3f3f3f;
  background-color: #f7f7f7; }
  
a { color: #c91919; }

/**** Misc ****/

img { width: 100%; } /* To keep images in their container. */

.rounded {
  border-radius: 8px; }
