/**** Layout ****/

@media all                         { html { font-size: 20px; } }
@media all and (max-width: 1000px) { html { font-size: 19px; } }
@media all and (max-width:  950px) { html { font-size: 18px; } }
@media all and (max-width:  900px) { html { font-size: 17px; } }
@media all and (max-width:  850px) { html { font-size: 16px; } }
@media all and (max-width:  800px) { html { font-size: 15px; } }
@media all and (max-width:  750px) { html { font-size: 14px; } }
@media all and (max-width:  700px) { html { font-size: 13px; } }
@media all and (max-width:  650px) { html { font-size: 12px; } }
@media all and (max-width:  600px) { html { font-size: 11px; } }
@media all and (max-width:  550px) { html { font-size: 10px; } }
/*@media all and (max-width: 520px)  { html {font-size: 18px; } }*/

body {
  margin: 0 auto;
  padding: 0.5rem;
  max-width: 46rem; }

.reading-width {
  margin-left: 11.5rem; margin-right: 2.5rem; }

.space-above { margin-top: 3rem; }

.space-below { margin-bottom: 10rem; }

topic {
  display: block;
  font-size: 190%;
  line-height: 1.1;
  margin-top: 3rem; margin-bottom: 3rem;
  hyphens: none; }

.left {
  display: block;
  margin-left: -9.5rem;
  float: left;
  width: 7.5rem;
  clear: both;
  margin-bottom: 1rem; }

.white { background: white; }

.five-lines-high  { height: 6.5rem; }
.six-lines-high   { height: 7.8rem; }
.seven-lines-high { height: 9.1rem; }

/**** Typography ****/

body { font-family: 'sf ui text', sans-serif; }

p, ul, ol {
  margin-bottom: 1rem;
  line-height: 1.32; }

nav {
  line-height: 1.32; }

h1 {
  margin-top: 3rem; margin-bottom: 3rem;
  line-height: 1.1rem; font-size: 150%; }

h2 {
  margin-top: 1.4rem; margin-bottom: 0.4rem;
  line-height: 1.1rem; font-weight: bold; }

a { text-decoration: none; }
strong, b { font-weight: bold; }
em, i { font-style: italic; }

li { margin-left: 1.5rem; }

ul li::before {
  display: inline-block;
  content: "\002D";
  width: 0;
  position: relative; top: 0px; left: -1.5rem; }

.left { text-align: right; }

.smaller {
  font-size: 0.8rem;
  line-height: 1.1; }

/**** Colour ****/

body { background-color: #F5F5F7; color: #000000; }

body a { color: #C91919; }

.lighter { color: #7F7F7F; }

.lighter a, a.lighter { color: #E37676; }

/**** Misc ****/

img.logo { height: 1.4rem; }

img { max-width: 100%; } /* To keep images in their container. */

