---
---
$key-color: #4CB579;
$color: #333;

em, i { font-style: italic; }
strong, b { font-weight: bold; }
a { text-decoration: none; }
code { white-space: pre; }
sup { vertical-align: super; line-height: 0; font-size: smaller; }

body { font-family: Georgia, serif; line-height: 24px; font-size: 17px; }
main {
    p  { line-height: 24px; font-size: 17px; margin: 24px 0;}
    blockquote { line-height: 28px; font-size: 18px; margin: 24px 0; }
    li { line-height: 24px; font-size: 17px; margin: 0;      }
    h1 { @extend .featured; margin: 72px 0 24px 0; }
    h2 { line-height: 24px; font-size: 23px; margin: 48px 0 24px 0; text-align: center; }
    h3 { line-height: 24px; font-size: 19px; margin: 24px 0; font-weight: bold; }
}

section > footer {
    ol { margin-top: 24px; }
    ol > li { font-size: 14px; }  
} 

ul.shifted-up { margin-top: -24px; }

blockquote.featured { position: relative; border: 0; padding: 0; max-width: 50%; margin: 112px auto; }
blockquote.featured::before { content: "\201C"; position: absolute; left: -16px; top: 0px; font-size: 32px; font-family: serif; }
blockquote.featured cite { display: block; text-align: right; }
blockquote.featured cite::before { content: "\2014 \2009"; }

.featured { line-height: 36px; font-size: 31px; margin: 36px 0; }

body > header h1 { font-size: 17px; }

