<header>
  <div style="display:table;height:100%;width:100%">
    <div style="display:table-row">
      <h1 style="line-height:0;display:table-cell;vertical-align:middle;text-align:left">
        <a href="/">
          <img src="/assets/logo-small.svg" style="height: 24px">
        </a>
      </h1>
      <nav style="display:table-cell;vertical-align:middle;text-align:right">
        <a href="/work.html" style="padding-left:24PX">Work</a>
        <a href="/notes.html" style="padding-left:24px">Notes</a>
        <a href="/connect.html" style="padding-left:24px">Connect</a>
      </nav>
    </div>
  </div>
</header>