<section special-bottom-border style="line-height:0">
  <div class="content-container" style="height:320px;text-align:center;background:no-repeat center/auto 100% url(/assets/hero-background.jpg)">
    <!-- <img src="/assets/hero.png" style="width:100%;max-width:720px;padding-bottom:32px"> -->
  </div>
  <div class="overlay">
    <div class="content-container" style="line-height:0;top:96px">
      <p class="hero-message" style="padding-right:120px">
        <b>Good design is incredibly simple, and that is exactly what makes it so difficult.</b><br>
        &mdash; Raphael Schindler, Radicle
      </p>
    </div>
  </div>
</section>