---
---

<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title | strip_html }}</title>
    <meta name="viewport" content="initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/reset.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>

  <body class="dark-background">

    {% if page.hero %}
    <img class="content-width" src="/assets/{{ page.hero }}">
    {% endif %}

    <section class="title-bar">
      <div class="padded-content-width">
        Radicle
      </div>
    </section>

    <!--<header class="reading-width space-above">
      <div class="left">
        <img class="logo" src="/assets/logo--text.svg"><br>
        {% assign pages = site.pages | sort: 'index' %}
        <nav>
          {% for page in pages %}
            {% if page.index %}
              <a href="{{ page.url }}">{{ page.title }}</a><br>
            {% endif %}
          {% endfor %}
        </nav>
      </div>
    </header>-->

    <main class="light-background padded-height">
      {{ content }}
    </main>

  </body>

</html>
