---
---

<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title | strip_html }}</title>
    <meta name="viewport" content="initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/reset.css">
    <link rel="stylesheet" type="text/css" href="/default.css">
  </head>

  <body>
    
    {% include header.html %}

    <main height-wrapper>
      <div width-wrapper>
        <div reading-width>
          {{ content }}
        </div>
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>