---
---
<!DOCTYPE html>
<html>
  <head>
    <title>Radicle</title>
    <meta name="viewport" content="initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/reset.css">
    <link rel="stylesheet" type="text/css" href="/typography.css">
    <link rel="stylesheet" type="text/css" href="/front.css">
  </head>
  <body>
    <div id="wrapper">
      <header>
        <div id="header-wrapper">
          <table class="main-column">
            <tr>
              <td>
                <h1>
                  <a href="/">
                    <img id="logo" src="/assets/logo-dark.svg" alt="Radicle">
                  </a>
                </h1>
              </td>
            </tr>
          </table>
        </div>
      </header>
    
      <main>
      {{ content }}
      </main>
    
      <footer>
        <div id="footer-wrapper">
          <div class="main-column">
            <ul>
              <li><a href="/about.html">Radicle &copy; 2016</a></li> &nbsp; | &nbsp;
              <li><a href="/contact.html">Contact</a></li> &nbsp; | &nbsp;
              <li><a href="/careers.html">Careers</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>