---
---
<!DOCTYPE html>
<html>
  <head>
    <title>Radicle</title>
    <meta name="viewport" content="initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/reset.css">
    <link rel="stylesheet" type="text/css" href="/typography.css">
    <link rel="stylesheet" type="text/css" href="/front.css">
  </head>
  <body>
    <div id="wrapper">
      <header>
        <div class="main-column">
          <div class="padding">
            <h1>
              <a href="/"><img id="logo" src="/assets/logo-dark.svg" alt="Radicle"></a>
            </h1>
          </div>
        </div>
      </header>
    <main>
      <div class="main-column">
        <div class="padding">
          {{ content }}
        </div>
      </div>
    </main>
      <footer>
        <div class="main-column">
          <div class="padding">
            <nav>
              <a href="/about.html">Radicle &copy; 2016</a> &nbsp; | &nbsp;
              <a href="/contact.html">Contact</a> &nbsp; | &nbsp;
              <a href="/radicleexperiment.html">Podcast</a> &nbsp; | &nbsp;
              <a href="/careers.html">Careers</a>
            </nav>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>