---
---

<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title | strip_html }}</title>
    <meta name="viewport" content="initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/reset.css">
    <link rel="stylesheet" type="text/css" href="/default.css">
  </head>

  <body>
    
    <div class="content">
      <context-block><a href="/index.html">Radicle blog</a> <b>/</b></context-block>
      <topic>{{ page.title }}</topic>
      {{ content }}
      <p>
        <sig>&mdash;Raphael Schindler<br>{{ page.date | date: "%e %b %Y" }}</sig>
      </p>
    </div>

  </body>

</html>